force-app/main/default/flows/Auto_populate_Putback_Buyback_Complated_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>UnArchival_Check</name>
        <label>UnArchival Check</label>
        <locationX>212</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_UnArchival_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mainUpdate</targetReference>
            </connector>
            <label>Is Not UnArchival User</label>
        </rules>
    </decisions>
    <description>Migrated from the: Auto populate Putback/Buyback Complated Date workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>Putback_BuyBack_Complated_DateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <label>Auto populate Putback/Buyback Complated Date</label>
    <migratedFromWorkflowRuleName>Auto populate Putback/Buyback Complated Date</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <inputAssignments>
            <field>Putback_Buyback_Completed_Date__c</field>
            <value>
                <elementReference>Putback_BuyBack_Complated_DateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>UnArchival_Check</targetReference>
        </connector>
        <filterFormula>AND(ISCHANGED({!$Record.Asset_Status__c}), OR(ISPICKVAL({!$Record.Asset_Status__c}, &apos;Putback&apos;), ISPICKVAL({!$Record.Asset_Status__c}, &apos;Buyback&apos;)) )</filterFormula>
        <object>Insolvency_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
