force-app/main/default/flows/Collection_DD53_NOPTP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>checkRunDateandMetaDisable</name>
        <label>checkRunDateandMetaDisable</label>
        <locationX>782</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkRunDateandMetadataDis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkRunDateandMetadataDisable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScheduledPath1Update</targetReference>
            </connector>
            <label>checkRunDateandMetadataDis</label>
        </rules>
    </decisions>
    <description>Migrated from the: Collection DD53 NOPTP workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>checkRunDateandMetadataDisable</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.Workflow_Run_Date__c}&lt;&gt; NOW(),{!$Setup.Disable_Metadata_Settings__c.Disable_Product_Validation_WF__c} == false)</expression>
    </formulas>
    <formulas>
        <name>Collection_activity_completedFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <label>Collection DD53 NOPTP</label>
    <migratedFromWorkflowRuleName>Collection DD53 NOPTP</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>SMS-Notification-Product__c-e618</description>
        <name>SMS_Notification</name>
        <label>SMS Notification</label>
        <locationX>650</locationX>
        <locationY>540</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>To remove the workflow name</description>
        <name>ScheduledPath1Update</name>
        <label>ScheduledPath1Update</label>
        <locationX>650</locationX>
        <locationY>432</locationY>
        <connector>
            <targetReference>SMS_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Workflow_Rule_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Run_Date__c</field>
            <value>
                <elementReference>Collection_activity_completedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_run_flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>Current_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_Rule_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection DD53</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Distressed Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_run_flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_For_SMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>checkRunDateandMetaDisable</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
