force-app/main/default/flows/Collection_DD81_NOPTP_Legal_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>checkRunDateandMetaDisable</name>
        <label>checkRunDateandMetaDisable</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkRunDateandMetadataDis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkRunDateandMetadataDisable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mainUpdate</targetReference>
            </connector>
            <label>checkRunDateandMetadataDis</label>
        </rules>
    </decisions>
    <description>Migrated from the: Collection DD81 NOPTP Legal workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>checkRunDateandMetadataDisable</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.Workflow_Run_Date__c}&lt;&gt; NOW(),{!$Setup.Disable_Metadata_Settings__c.Disable_Product_Validation_WF__c} == false)</expression>
    </formulas>
    <formulas>
        <name>Collection_activity_completedFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <label>Collection DD81 NOPTP Legal_2</label>
    <migratedFromWorkflowRuleName>Collection DD81 NOPTP Legal</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>To remove the workflow name</description>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>452</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Current_Workflow__c</field>
            <value>
                <stringValue>Pre-Legal Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Rule_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Run_Date__c</field>
            <value>
                <elementReference>Collection_activity_completedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_run_flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>checkRunDateandMetaDisable</targetReference>
        </connector>
        <filterLogic>1 AND  2 AND ((3 AND 4) OR ( 5 AND 6)) AND 7 AND 8</filterLogic>
        <filters>
            <field>Current_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_Rule_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection DD81</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ON</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Balance__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ON</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Balance__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Distressed Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_In_Progress__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
