force-app/main/default/flows/Collection_DD3_NOPTP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Collection_Email1</name>
        <label>Product__c.Collection_Email1</label>
        <locationX>452</locationX>
        <locationY>695</locationY>
        <actionName>Product__c.Collection_Email1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>checkRunDateandMetaDisable</name>
        <label>checkRunDateandMetaDisable</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkRunDateandMetadataDis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkRunDateandMetadataDisable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mainUpdate</targetReference>
            </connector>
            <label>checkRunDateandMetadataDis</label>
        </rules>
    </decisions>
    <description>Migrated from the: Collection_DD3_NOPTP workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>checkRunDateandMetadataDisable</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.Workflow_Run_Date__c}&lt;&gt; NOW(),{!$Setup.Disable_Metadata_Settings__c.Disable_Product_Validation_WF__c} == false)</expression>
    </formulas>
    <formulas>
        <name>Collection_activity_completedFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <label>Collection_DD3_NOPTP</label>
    <migratedFromWorkflowRuleName>Collection_DD3_NOPTP</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Activity_DD3_Email1</name>
        <label>Activity DD3 Email1</label>
        <locationX>452</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Collection_Email1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Activity DD3 Email1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>To remove the workflow name</description>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>452</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Activity_DD3_Email1</targetReference>
        </connector>
        <inputAssignments>
            <field>Workflow_Rule_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Run_Date__c</field>
            <value>
                <elementReference>Collection_activity_completedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_run_flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>checkRunDateandMetaDisable</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Current_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_Address__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Distressed Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_run_flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_For_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_Rule_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection_DD3</stringValue>
            </value>
        </filters>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
