force-app/main/default/flows/Conditional_Two_Factor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Verify_if_IP_is_within_org_trusted_IP_range</name>
        <label>IP in trusted IP range?</label>
        <locationX>82</locationX>
        <locationY>152</locationY>
        <apexClass>NetworkAccess</apexClass>
        <connector>
            <targetReference>IsTrustedIPDecision</targetReference>
        </connector>
        <inputParameters>
            <name>IP</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>IsTrustedIP</assignToReference>
            <name>IsTrusted</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsTrustedIPDecision</name>
        <label>IsTrustedIP</label>
        <locationX>309</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Email_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Untrusted IP</defaultConnectorLabel>
        <rules>
            <name>Trusted_IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTrustedIP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Trusted IP</label>
        </rules>
    </decisions>
    <interviewLabel>Conditional_Two-Factor-Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditional_Two-Factor-Email</label>
    <processType>Flow</processType>
    <startElementReference>Verify_if_IP_is_within_org_trusted_IP_range</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Email_Confirmation</name>
        <label>Email Confirmation</label>
        <locationX>551</locationX>
        <locationY>145</locationY>
        <flowName>Email_Confirmation</flowName>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>IsTrustedIP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
