force-app/main/default/flows/Insolvency_Payment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Archival_User_Check</name>
        <label>Archival User Check</label>
        <locationX>399</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotArchivalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insolvency_Payment_Criteria</targetReference>
            </connector>
            <label>IsNotArchivalUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insolvency_Payment_Criteria</name>
        <label>Insolvency Payment Criteria</label>
        <locationX>604</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insolvency_last_Payment_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Created__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_payment_date</targetReference>
            </connector>
            <label>Insolvency last Payment Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Amount_not_equal_to_null</name>
        <label>Payment Amount not equal to null</label>
        <locationX>602</locationX>
        <locationY>589</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insy_Last_Payment_Amount</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insolvency_Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remittance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Insolvency_Last_Payment_Amount</targetReference>
            </connector>
            <label>Insy Last Payment Amount</label>
        </rules>
    </decisions>
    <description>Update Insolvency Last Payment Amount and  Insolvency Last Payment date on Insolvency Account when insolvency payment created</description>
    <environments>Default</environments>
    <interviewLabel>Insolvency Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insolvency Payment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>insolvency payment creat time fill the payment amount that payment amount is populated on insolvency account on Insolvency Last Payment Amount</description>
        <name>Update_Insolvency_Last_Payment_Amount</name>
        <label>Update Insolvency Last Payment Amount</label>
        <locationX>903</locationX>
        <locationY>662</locationY>
        <inputAssignments>
            <field>Insolvency_Last_Payment_Amount__c</field>
            <value>
                <elementReference>$Record.Payment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Insolvency_Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>when insolvency payment is created at the time update the only last payment date field on insolvency account</description>
        <name>Update_Last_payment_date</name>
        <label>Update Last payment date</label>
        <locationX>903</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Payment_Amount_not_equal_to_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Insolvency_Last_Payment_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Created__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Insolvency_Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Archival_User_Check</targetReference>
        </connector>
        <object>Insolvency_Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
