force-app/main/default/flows/Loan_Account_Flows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Collection_Email2_2</name>
        <label>Collection_Email2_2</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Product__c.Collection_Email2_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Workflow_Fields_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Collection_Email2_TL</name>
        <label>Collection_Email2_TL</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Product__c.Collection_Email2_TL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Workflow_Fields_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Collections</name>
        <label>Collections</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Workflow_Fields_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_DD14_NOPTP_TL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Workflow_Rule_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collection DD14</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskActivity_DD14_Email2</targetReference>
            </connector>
            <label>Collection DD14 NOPTP(TL)</label>
        </rules>
        <rules>
            <name>Collection_DD25_NOPTP_TL</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Workflow_Rule_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collection DD25</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Compare_Late_fee_and_Credit_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Balance__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskActivity_DD25_Email2</targetReference>
            </connector>
            <label>Collection DD25 NOPTP (TL)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Workflow_run_date</name>
        <label>Workflow run date</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Equal_to_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_For_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collections</targetReference>
            </connector>
            <label>Not Equal to Today</label>
        </rules>
    </decisions>
    <description>Run the  collection flows of - Collection DD14 NOPTP(TL) and Collection DD25 NOPTP (TL)</description>
    <environments>Default</environments>
    <formulas>
        <description>convert DateTime in to Date</description>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Workflow_Run_Date__c})</expression>
    </formulas>
    <interviewLabel>Loan Account Flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Account Flows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>TaskActivity_DD14_Email2</name>
        <label>TaskActivity DD14 Email2</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Collection_Email2_TL</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Activity DD14 Email2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TaskActivity_DD25_Email2</name>
        <label>TaskActivity_DD25_Email2</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Collection_Email2_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Activity_DD25_Email2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Workflow_Fields_updated</name>
        <label>Workflow Fields updated</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Workflow_Rule_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Run_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_run_flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Workflow_run_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_run_flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
