force-app/main/default/flows/Low_Bal_Settled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <description>Workflow Run Date &lt;&gt; today</description>
        <name>Workflow_Run_Date</name>
        <label>Workflow Run Date</label>
        <locationX>536</locationX>
        <locationY>428</locationY>
        <defaultConnectorLabel>Na</defaultConnectorLabel>
        <rules>
            <name>Not_Equal_to_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Workflow_Run_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Record</targetReference>
            </connector>
            <label>Not Equal to today</label>
        </rules>
    </decisions>
    <description>Low Bal DD100 Settled and Low Bal DD81 Settled workflow to flow</description>
    <environments>Default</environments>
    <interviewLabel>Low Bal Settled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Low Bal Settled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Product_Record</name>
        <label>Update Product Record</label>
        <locationX>796</locationX>
        <locationY>532</locationY>
        <inputAssignments>
            <field>Current_Workflow__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Rule_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Run_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_run_flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Workflow_Run_Date</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>Current_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Low Balance Flow</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012f10000015HlJAAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_run_flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Settled_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_Rule_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection DD81</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workflow_Rule_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Low Bal DD100</stringValue>
            </value>
        </filters>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
