force-app/main/default/flows/Match_Commission_Paid_To_With_Original_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>incorrect_commission_paid_to_selected</name>
        <label>incorrect commission paid to selected</label>
        <locationX>726</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Provided_Agency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Original_Payment_Record.Payment_Provided_Agency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Commission_Paid_To_Payment_Reversal</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>storePaymentAmount</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Payment_Amount__c})*(-1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Match Commission Paid To with Original Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Commission Paid To With Original Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Original_Payment_Record</name>
        <label>get Original Payment Record</label>
        <locationX>584</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>incorrect_commission_paid_to_selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storePaymentAmount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1000</stringValue>
            </value>
        </filters>
        <filters>
            <field>CCS_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCS_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Payments__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Payment_Provided_Agency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Commission_Paid_To_Payment_Reversal</name>
        <label>update Commission Paid To_Payment Reversal</label>
        <locationX>906</locationX>
        <locationY>389</locationY>
        <inputAssignments>
            <field>Payment_Provided_Agency__c</field>
            <value>
                <elementReference>get_Original_Payment_Record.Payment_Provided_Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Original_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1003</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Amount__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Product_Payments__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
