force-app/main/default/flows/Notify_Users_on_Insolvency_Error.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification_on_Insolvency_Error</name>
        <label>Insolvency_Error__c.Email_Notification_on_Insolvency_Error</label>
        <locationX>563</locationX>
        <locationY>436</locationY>
        <actionName>Insolvency_Error__c.Email_Notification_on_Insolvency_Error</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Archival_User_Check</name>
        <label>Archival User Check</label>
        <locationX>196</locationX>
        <locationY>284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Archival_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_on_Insolvency_Error</targetReference>
            </connector>
            <label>Is Not Archival User</label>
        </rules>
    </decisions>
    <description>Migrated from the: Notify Users on Insolvency Error workflow rule
Workflow rule description: Notify Users on Insolvency Error&quot;</description>
    <environments>Default</environments>
    <label>Notify Users on Insolvency Error</label>
    <migratedFromWorkflowRuleName>Notify Users on Insolvency Error</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Archival_User_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Insolvency_Error__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
