force-app/main/default/flows/Populate_Payment_Reversal_Date_on_Insolvency_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Archival_User_Check</name>
        <label>Archival User Check</label>
        <locationX>577</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotArchivalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mainUpdate</targetReference>
            </connector>
            <label>IsNotArchivalUser</label>
        </rules>
    </decisions>
    <description>Populate Payment Reversal Date from Insolvency Payment when Payment is reversed</description>
    <environments>Default</environments>
    <formulas>
        <name>Update_Payment_Reversal_DateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Populate Payment Reversal Date on Insolvency Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Payment Reversal Date on Insolvency Payment</label>
    <migratedFromWorkflowRuleName>Populate Payment Reversal Date on Insolvency Payment</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Payment Reversal Date</description>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>588</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>Payment_Reversal_Date__c</field>
            <value>
                <elementReference>Update_Payment_Reversal_DateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Archival_User_Check</targetReference>
        </connector>
        <filterFormula>AND ( ISBLANK( {!$Record.Payment_Reversal_Date__c} ), ISCHANGED( {!$Record.Payment_Reversed__c} ),  NOT( ISBLANK(TEXT({!$Record.Payment_Reversed__c} )) ))</filterFormula>
        <object>Insolvency_Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
