force-app/main/default/flows/Populate_Default_Values_On_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_New_Update</name>
        <label>Check New/Update</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Populate_FairShare_Percentage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_default_values</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MonthsDifference</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Record.Expected_First_disbursement_date__c}) + 12 - MONTH({!$Flow.CurrentDate}) + 12 * (YEAR({!$Record.Expected_First_disbursement_date__c}) - YEAR({!$Flow.CurrentDate}) -1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Populate Default Values On Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Default Values On Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_FairShare_Percentage</name>
        <label>Populate FairShare Percentage</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Update_Months_active_in_Program</targetReference>
        </connector>
        <inputAssignments>
            <field>FairShare_Percentage__c</field>
            <value>
                <elementReference>$Record.Accepted_Donation_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_default_values</name>
        <label>Update default values</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Populate_FairShare_Percentage</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted_Donation_Rate__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accepted_Interest_rate__c</field>
            <value>
                <numberValue>9.9</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Months_active_in_Program</name>
        <label>Update Months active in Program</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expected_First_disbursement_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Months_active_in_Program__c</field>
            <value>
                <elementReference>MonthsDifference</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_New_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GoEasy_CCS_Account</stringValue>
            </value>
        </filters>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
