force-app/main/default/flows/Product_Payment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Product_payment_Criteria</name>
        <label>Product payment Criteria</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Balance_Before_and_After_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_record.Current_Balance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCS_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Balance_Before_Payment</targetReference>
            </connector>
            <label>Update Balance Before and After Payment</label>
        </rules>
        <rules>
            <name>Update_Last_Payment_Amount_on_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCS_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Payment_Amount_on_Product</targetReference>
            </connector>
            <label>Update Last Payment Amount on Product</label>
        </rules>
        <rules>
            <name>Update_Last_Payment_Date_on_Product</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCS_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Payment_Date_on_Product</targetReference>
            </connector>
            <label>Update Last Payment Date on Product</label>
        </rules>
        <rules>
            <name>Updated_Current_bal</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCS_Dividend_Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCS_Product_Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Balance_Adjustments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Current_Balance</targetReference>
            </connector>
            <label>Updated Current bal</label>
        </rules>
        <rules>
            <name>Update_Total_Paid_To_Date</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCS_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GoEasy_CCS_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Paid_To_Date</targetReference>
            </connector>
            <label>Update Total Paid To Date</label>
        </rules>
    </decisions>
    <description>Flow update Product payments fields on product</description>
    <environments>Default</environments>
    <formulas>
        <name>BalanceAfterPayment</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CCS_Account__r.Current_Balance__c}-{!$Record.Gross_Payment_Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BalanceBeforePayment</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CCS_Account__r.Current_Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentTotalBalanceFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CCS_Account__r.Current_Balance__c}-{!$Record.Gross_Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentAmountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentCreatedFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Payment_Created_Date__c}</expression>
    </formulas>
    <formulas>
        <name>setBalValue</name>
        <dataType>Currency</dataType>
        <expression>$Record.CCS_Account__r.Current_Balance__c -  $Record.Gross_Payment_Amount__c</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalPaidToDateFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CCS_Account__r.Total_Paid_To_Date__c}+{!$Record.Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Product Paymenr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Payment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Product_record</name>
        <label>Product record</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_payment_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123a000000LJq1AAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Current_Balance</name>
        <label>Change Current Balance</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Balance__c</field>
            <value>
                <elementReference>CurrentTotalBalanceFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Payment_Amount_on_Product</name>
        <label>Last Payment Amount on Product</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Payment_Amount__c</field>
            <value>
                <elementReference>PaymentAmountFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Payment_Date_on_Product</name>
        <label>Last Payment Date on Product</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Payment_Date__c</field>
            <value>
                <elementReference>PaymentCreatedFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Total_Paid_To_Date</name>
        <label>Total Paid To Date</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Paid_To_Date__c</field>
            <value>
                <elementReference>TotalPaidToDateFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Balance_After_Payment</name>
        <label>Update Balance After Payment</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Balance_After_Payment__c</field>
            <value>
                <elementReference>BalanceAfterPayment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Balance_Before_Payment</name>
        <label>Update Balance Before Payment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Balance_After_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Balance_Before_Payment__c</field>
            <value>
                <elementReference>BalanceBeforePayment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_record</targetReference>
        </connector>
        <object>Product_Payments__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
