force-app/main/default/flows/PTP_Flow_Step_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Future_PTP_Present</name>
        <label>Future PTP Present</label>
        <locationX>536</locationX>
        <locationY>208</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>product.Is_Future_PTP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Type_Display_Name_null_check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>product.Is_Future_PTP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Out_of_PTP_Flow</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type_Display_Name_null_check</name>
        <label>Product Type Display Name null check</label>
        <locationX>718</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>product.Product_Type_Display_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ICT_Product</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>product.Product_Type_Display_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Update the Current Workflow based on Is Future PTP is True or false</description>
    <environments>Default</environments>
    <interviewLabel>PTP Flow Step 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTP Flow Step 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Out_of_PTP_Flow</name>
        <label>Out of PTP Flow</label>
        <locationX>537</locationX>
        <locationY>397</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Workflow__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ICT_Product</name>
        <label>Update ICT Product</label>
        <locationX>1019</locationX>
        <locationY>294</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Workflow__c</field>
            <value>
                <stringValue>ICT Promise to Pay</stringValue>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>1012</locationX>
        <locationY>133</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Workflow__c</field>
            <value>
                <stringValue>Promise to Pay Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Future_PTP_Present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <description>Product Id</description>
        <name>ProdVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
