force-app/main/default/flows/PTP_Flow_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>call the IsFuturePTPPresent apex class</description>
        <name>Is_Future_PTP</name>
        <label>Is Future PTP</label>
        <locationX>512</locationX>
        <locationY>540</locationY>
        <actionName>IsFuturePTPPresent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>prod</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Call MissedPTPCountClass apex class</description>
        <name>Missed_PTP_Count</name>
        <label>Missed PTP Count</label>
        <locationX>350</locationX>
        <locationY>542</locationY>
        <actionName>MissedPTPCountClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>prod</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>True the subFlow criteria</description>
        <name>Call_SubFlow</name>
        <label>Call SubFlow</label>
        <locationX>721</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>PTP_Step_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Current_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promise to Pay Flow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distressed_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PTP_Mate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fivedaysbefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>PTP Met or Not Criteria.</description>
        <name>PTP_Met_criteria</name>
        <label>PTP Met criteria</label>
        <locationX>419</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Current_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promise to Pay Flow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PTP_Mate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fivedaysbefore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Distressed Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Future_PTP</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Current_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promise to Pay Flow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Distressed Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PTP_Mate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fivedaysbefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missed_PTP_Count</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>PTP Flow to update Product Current Workflow</description>
    <environments>Default</environments>
    <formulas>
        <name>fivedaysbefore</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 5</expression>
    </formulas>
    <interviewLabel>PTP Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTP Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get product record</description>
        <name>ProductId</name>
        <label>ProductId</label>
        <locationX>586</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PTP_Met_criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ProductId</targetReference>
        </connector>
        <object>PTP_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Call PTP subFlow to update product current_workflow__c</description>
        <name>PTP_Step_2</name>
        <label>PTP Step 2</label>
        <locationX>896</locationX>
        <locationY>544</locationY>
        <flowName>PTP_Flow_Step_2_0</flowName>
        <inputAssignments>
            <name>product</name>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ProductId</assignToReference>
            <name>product</name>
        </outputAssignments>
    </subflows>
</Flow>
