force-app/main/default/flows/PTP_LowBalFlow_CustPay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Settlement_Offer_letter_SO1</name>
        <label>Product__c.Settlement_Offer_letter_SO1</label>
        <locationX>892</locationX>
        <locationY>413</locationY>
        <actionName>Product__c.Settlement_Offer_letter_SO1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>New flow of PTP_LowBalFlow_CustPay workflow rule</description>
    <environments>Default</environments>
    <formulas>
        <name>checkRunDateandMetadataDisable</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.Workflow_Run_Date__c}&lt;&gt; NOW(),{!$Setup.Disable_Metadata_Settings__c.Disable_Product_Validation_WF__c} == false)</expression>
    </formulas>
    <formulas>
        <name>Collection_activity_completedFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>PTP_LowBalFlow_CustPay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTP_LowBalFlow_CustPay</label>
    <migratedFromWorkflowRuleName>PTP_LowBalFlow_CustPay</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>659</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Settlement_Offer_letter_SO1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Reminder Email sent to the customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Activity_Low Bal_SO1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>426</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Workflow__c</field>
            <value>
                <stringValue>Low Balance Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settled_Product__c</field>
            <value>
                <stringValue>Not Settled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Run_Date__c</field>
            <value>
                <elementReference>Collection_activity_completedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6)) AND 7 AND 8 AND 9</filterLogic>
        <filters>
            <field>Current_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promise to Pay Flow</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Paying__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Paying</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ON</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Balance__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ON</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Balance__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Distressed Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_Address__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_For_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
