force-app/main/default/flows/Send_Monthly_Recurring_Payment_Set_to_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Recurring_Monthly_Payment_Set_Email</name>
        <label>Payment_Transaction__c.Recurring_Monthly_Payment_Set_Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Payment_Transaction__c.Recurring_Monthly_Payment_Set_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Recurring_Weekly_BiWeekly_Payment_Set_Email</name>
        <label>Recurring_Weekly_BiWeekly_Payment_Set_Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Payment_Transaction__c.Recurring_Weekly_BiWeekly_Payment_Set_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Recurrence_Type_c</name>
        <label>Recurrence_Type__c</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recurrence_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Monthly_Payment_Set_Email</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Weekly_and_Biweekly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recurrence_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Biweekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recurrence_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Weekly_BiWeekly_Payment_Set_Email</targetReference>
            </connector>
            <label>Weekly and Biweekly</label>
        </rules>
    </decisions>
    <description>New Flow of Send Monthly Recurring Payment Set to Customer AND Send Weekly/Biweekly Recurring Payment Set to Customer</description>
    <environments>Default</environments>
    <interviewLabel>Send Monthly Recurring Payment Set to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Monthly Recurring Payment Set to Customer</label>
    <migratedFromWorkflowRuleName>Send Monthly Recurring Payment Set to Customer</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recurrence_Type_c</targetReference>
        </connector>
        <filterFormula>AND ({!$Record.RecordType.DeveloperName} = &apos;Recurring_Payment_Master&apos;, {!$Record.Parent__r.Product__r.Customer__r.Payment_Success_Failure_Notifications__c}  == true)</filterFormula>
        <object>Payment_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
