force-app/main/default/flows/Send_One_Time_OR_Weekly_Fund_Request_to_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>One_Time_Request_Funds_Initiate_Email</name>
        <label>One_Time_Request_Funds_Initiate_Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Payment_Transaction__c.One_Time_Request_Funds_Initiate_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Recurring_Weekly_Request_Funds_Initiate_Email</name>
        <label>Recurring_Weekly_Request_Funds_Initiate_Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Payment_Transaction__c.Recurring_Weekly_Request_Funds_Initiate_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Record_Type_Name</name>
        <label>Record_Type_Name</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Funds_One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request_Funds_One_Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Time_Request_Funds_Initiate_Email</targetReference>
            </connector>
            <label>Request_Funds_One_Time</label>
        </rules>
        <rules>
            <name>Request_Funds_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request_Funds_Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Weekly_Request_Funds_Initiate_Email</targetReference>
            </connector>
            <label>Request_Funds_Recurring</label>
        </rules>
    </decisions>
    <description>New Flow of Send Weekly Request Fund Request to Customer and Send One Time Request Fund Request to Customer</description>
    <environments>Default</environments>
    <interviewLabel>Request Fund Request to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send One Time OR Weekly Fund Request to Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Name</targetReference>
        </connector>
        <filterFormula>AND(ISBLANK(PRIORVALUE( {!$Record.Connect_Url__c} )) , NOT(ISBLANK({!$Record.Connect_Url__c} )))</filterFormula>
        <object>Payment_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
