force-app/main/default/flows/SMS_Opt_In_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>If_opt_In_Keyword</name>
        <label>If opt-In Keyword</label>
        <locationX>563</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncomingSMS.smagicinteract__SMS_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Collection_Custom_Setting__c.SMS_Opt_In_Keyword__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SMS Opt In Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMS Opt In Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_customer</name>
        <label>update customer</label>
        <locationX>690</locationX>
        <locationY>407</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingSMS.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>smagicinteract__SMSOptOut__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_product</name>
        <label>update product</label>
        <locationX>783</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>update_customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingSMS.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SMS_Opt_Out__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Product__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>If_opt_In_Keyword</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IncomingSMS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__Incoming_SMS__c</objectType>
    </variables>
</Flow>
