force-app/main/default/flows/Statement_Requested_Workflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>UnArchival_Check</name>
        <label>UnArchival Check</label>
        <locationX>179</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_UnArchival_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mainUpdate</targetReference>
            </connector>
            <label>Is Not UnArchival User</label>
        </rules>
    </decisions>
    <description>Migrated from the: Statement Requested Workflow workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>Statement_Requested_UpdateFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <label>Statement Requested Workflow</label>
    <migratedFromWorkflowRuleName>Statement Requested Workflow</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <inputAssignments>
            <field>Statements_Requested_Date__c</field>
            <value>
                <elementReference>Statement_Requested_UpdateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>UnArchival_Check</targetReference>
        </connector>
        <filterFormula>ISCHANGED( {!$Record.Statements_Requested__c} )</filterFormula>
        <object>Insolvency_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
