force-app/main/default/flows/Two_Factor_Authentication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Security_Token</name>
        <label>Email Security Token</label>
        <locationX>163</locationX>
        <locationY>344</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Enter_Your_Security_Token</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>You recently logged in to Insolvency Stream Portal.To ensure your account&apos;s security, we need to verify your identity. Enter the following code where prompted by Insolvency Stream Portal   {!PasswordCode}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Security Token</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Verify_Security_Code</name>
        <label>Verify Security Code</label>
        <locationX>503</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Record_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_a_Valid_Security_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PasswordCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VerificationCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Not a Valid Security Code</label>
        </rules>
    </decisions>
    <formulas>
        <name>LoggedInUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Two Factor Authentication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Two Factor Authentication</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>152</locationX>
        <locationY>8</locationY>
        <assignRecordIdToReference>RecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Logged_In_User_Email_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Auth__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Record_Delete</name>
        <label>Record Delete</label>
        <locationX>593</locationX>
        <locationY>274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>Custom_Auth__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Security_Token</name>
        <label>Get Security Token</label>
        <locationX>155</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Security_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>Custom_Auth__c</object>
        <outputAssignments>
            <assignToReference>PasswordCode</assignToReference>
            <field>Random_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Logged_In_User_Email_Address</name>
        <label>Logged In User Email Address</label>
        <locationX>151</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Security_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>EmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Enter_Your_Security_Token</name>
        <label>Enter Your Security Token</label>
        <locationX>391</locationX>
        <locationY>10</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Security_Code</targetReference>
        </connector>
        <fields>
            <name>VerifyYourIdentity</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#56646E&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You are trying into login Insolvency Stream Portal.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#56646E&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#56646E&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To make sure your Insolvency Stream Portal account is secure,we have to verify your identity &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#56646E&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#56646E&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter the verification code we sent to your mail&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VerificationCode</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#56646E&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;VerificationCode&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>379</locationX>
        <locationY>268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Verification Failed!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Create_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PasswordCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecurityCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
