force-app/main/default/flows/Update_Total_Paid_To_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Total_Paid_To_Date</name>
        <label>Total Paid To Date</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCS_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GoEasy_CCS_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.DataArchiverUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Total_Paid_To_Date</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>New Flow of Update Total Paid To Date</description>
    <environments>Default</environments>
    <formulas>
        <name>PaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CCS_Account__r.Total_Paid_To_Date__c}+{!$Record.Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Total Paid To Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Paid To Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Product record</description>
        <name>Product</name>
        <label>Product</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Paid_To_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCS_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Product_Total_Paid_To_Date</name>
        <label>Product: Total Paid To Date</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Total_Paid_To_Date__c</field>
            <value>
                <elementReference>PaymentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CCS_Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product</targetReference>
        </connector>
        <object>Product_Payments__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
