force-app/main/default/flows/Update_of_increased_return_from_voting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>of_increased_return_from_voting</name>
        <label>% of increased return from voting</label>
        <locationX>264</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Percent_of_increased_return_from_voting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percentofincreasedreturnfromvoting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_of_increased_return_from_voting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check previous expected account recovery value</description>
        <name>Check_previous_expected_account_recovery</name>
        <label>Check previous expected account recovery</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>of_increased_return_from_voting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non 0 previous expected account recovery</defaultConnectorLabel>
        <rules>
            <name>Previous_expected_account_recovery_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Expected_Account_Recovery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>0 previous expected account recovery</label>
        </rules>
    </decisions>
    <formulas>
        <name>Percentofincreasedreturnfromvoting</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Expected_Account_Recovery__c}/{!$Record.Previous_Expected_Account_Recovery__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update % of increased return from voting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update % of increased return from voting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_of_increased_return_from_voting</name>
        <label>Update % of increased return from voting</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Percent_of_increased_return_from_voting__c</field>
            <value>
                <elementReference>Percent_of_increased_return_from_voting</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_previous_expected_account_recovery</targetReference>
        </connector>
        <object>Insolvency_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Percent_of_increased_return_from_voting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
