force-app/main/default/flows/Update_Trustee_Offices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_updated_value</name>
        <label>Assign updated value</label>
        <locationX>887</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>Looping_All_Trustee_Offices.Exclude_From_Missing_Payment_Mail_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Exclude_From_Missing_Payment_Mail_List__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedTrusteeOffices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_All_Trustee_Offices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_All_Trustee_Offices</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Trustee Offices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Trustee Offices</label>
    <loops>
        <name>Looping_All_Trustee_Offices</name>
        <label>Looping All Trustee Offices</label>
        <locationX>677</locationX>
        <locationY>371</locationY>
        <collectionReference>Get_Trustee_offices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_updated_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Trustees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Trustee_offices</name>
        <label>Get Trustee offices</label>
        <locationX>525</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_All_Trustee_Offices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trustee Office</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Exclude_From_Missing_Payment_Mail_List__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Trustees</name>
        <label>Update Trustees</label>
        <locationX>666</locationX>
        <locationY>573</locationY>
        <inputReference>UpdatedTrusteeOffices</inputReference>
    </recordUpdates>
    <start>
        <locationX>400</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Get_Trustee_offices</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Exclude_From_Missing_Payment_Mail_List__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trustee Company</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedTrusteeOffices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
